    {{>header}}
{{#each erros}}
<div style="margin: 15px;" class="alert alert-success" role="alert">{{texto}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{else}}

{{/each}}

<body>
    <section class="content mx-auto" style="display: flex; width: 10%;">
            <div id="hr">
                <h2 id="hora">00</h2>
            </div>
            <div id="min">
                <h2 id="minuto">00</h2>
            </div>
            <div id="seg">
                <h2 id="segundo">00</h2>
            </div>
        </section>
    <div class="container">
        <div class="dashboard-heading">
            <h2>Categorias</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quantidade de Categorias Cadastradas</h5>
                        <h1 class="">{{totalCategorias}}</h1>
                        <a href="/adm/categorias/add" class="btn btn-cadastrar btn-lg">Cadastrar Nova Categoria</a>
                        <br>
                        <br>
                        <a href="/adm/vercategorias" class="btn btn-cadastrar btn-lg">Ver Categorias Cadastradas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="dashboard-heading">
            <h2>Medicamentos</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quantidade de Medicamentos Cadastrados</h5>
                        <h1 class="">{{totalCategoriasMed}}</h1>
                        <a href="/adm/medicamentos/add" class="btn btn-cadastrar btn-lg">Cadastrar novo Medicamento</a>
                        <br>
                        <br>
                        <a href="/adm/vermedicamentos" class="btn btn-cadastrar btn-lg">Ver Medicamentos Cadastrados</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="dashboard-heading">
            <h2>Fabricantes</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quantidade de Fabricantes Cadastrados</h5>
                        <h1 class="">{{totalCategoriasFab}}</h1>
                        <a href="/adm/fabricante/add" class="btn btn-cadastrar btn-lg">Cadastrar novo Fabricante</a>
                        <br>
                        <br>
                        <a href="/adm/verfabricante" class="btn btn-cadastrar btn-lg">Ver Fabricantes Cadastrados</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="dashboard-heading">
            <h2>Fornecedores</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Quantidade de Fornecedores Cadastrados</h5>
                        <h1 class="">{{totalCategoriasFor}}</h1>
                        <a href="/adm/fornecedor/add" class="btn btn-cadastrar btn-lg">Cadastrar novo Fornecedor</a>
                        <br>
                        <br>
                        <a href="/adm/verfornecedor" class="btn btn-cadastrar btn-lg">Ver Fornecedores Cadastrados</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>